.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px;
}

.Searchbar input{
    /*dont give padding because it moves the placeholder also*/
    width: 450px;
    border-radius: 50px;
    border: 1px solid gainsboro;
    font-size: 18px;
    padding-left: 20px;
}

.Searchbar input:focus{
    /* border of searchbar is not a border it is outline so clicking by searchbar */
    outline: none;
    border: 1px solid rgb(132,206,231);
}

.Useroptions{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Useroptions h4{
    background-color: crimson;
    color: white;
    padding: 10px;
    font-size:18px;
    border-radius: 100%;
  } 